* {
  box-sizing: border-box;
  margin: 0;
}

body{
  margin:0;
  font-family: "Raleway", sans-serif;
  /* background-color: whitesmoke; */
  background: linear-gradient(30deg, #fdfcfb,#e2d1c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.toolbar {
  height: 11vh;
  background-color: #2d3436;
  display: flex;
  align-items: center;
  padding-left: 5rem;
}

.color-bar {
  height: 55%;
  width: 12rem;
  margin-right: 4rem;
  border-radius: 0.2rem;
  background-color: #535c68;
  display: flex;
}

.filter {
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter_color {
  height: 40%;
  width: 45%;
  border-radius: 0.3rem;
}

.palevioletred {
  background-color: palevioletred;
}

.blue {
  background-color: blue;
}

.limegreen {
  background-color: limegreen;
}

.black {
  background-color: black;
}

.action-container {
  height: 55%;
  width: 7rem;
  background-color:  #535c68;;
  border-radius: 0.2rem;
  display: flex;
  border-radius: 0.2rem solid;
  margin-left: 3rem;
}

.action-icon {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
}

.main-container {
  /* background: #8e9eab;  fallback for old browsers */
  /* background: -webkit-linear-gradient(to right, #fdfcfb , #e2d1c3);  Chrome 10-25, Safari 5.1-6 */
  
   
  
  height: 89vh;
  padding-top: 2rem;
  padding-left: 3rem;
  display: flex;
  justify-content:space-evenly;
  flex-wrap: wrap;
  
  
}



.modal_container{

  position: absolute;
  height: 50%;
  width: 45%;
  background-color: brown;
  left:25%;
  top: 30vh;
  display: flex;
  outline: none;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 1);

}

.input_container{
  height: 100%;
  width: 73%;
  outline: none;

}


.modal_input{
  height: 100%;
  width: 100%;
  outline: none;
  padding: 2rem 3rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  line-height: 145%;        /* to increase height between lines */
  font-weight: 600;
  
}

.modal_filter_container{
  width: 27%;
  background-color: #455556;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1.7rem 1.2rem;


}

textarea{
  border: none;
}


.filter_task{
  height: 15%;
  width: 60%;

}

.border{
  border: 0.2rem solid #d2dae2;
}

/* task css */

.uid{
  color: #778ca3;
  font-family: "Raleway", sans-serif;
  font-weight: 600;

}

.task_header_color{
  height: 7%;
}

.task_container{

  height: 9rem;
  width: 18rem;
  box-shadow: 0 1rem 1.5rem rgba(63, 55, 55, 0.2);
  
}

.task_body{

  padding-left:0.5rem;
  padding-top: 00.5rem;
  background-color: #fdfdfd;
  height: 100%;
  
 
}

/* added contentediatble = true in script so that we can add in task conatiner also */
.task_desc{
  text-align: center;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
  font-size: 1.2rem;
  max-height: 85%;
  overflow: auto;
  word-break: break-all;
  text-align: center;

}